.head {
	-fx-background-color: #f2f2f2;
}
.head > .button {
	-fx-cursor: hand;
	-fx-background-repeat: no-repeat;
	-fx-background-color: transparent;
	-fx-background-position: center, center;
}
.head > .button:hover {
	-fx-background-color: rgba(235,235,235,0.05);
}
.head > .button:pressed {
	-fx-background-color: rgba(180,180,180,0.05);
}
.close-button {
	-fx-background-image: url("/images/popup/close.png");
}

.body {
	-fx-background-color: #ffffff;
}